In [1]:
import pandas as pd

In [2]:
# Read CSV In Resources Folder

us_counties_df = pd.read_csv('darrenResources/covid_us_county.csv')

# us_counties_df

In [3]:
# Look At Counties That We Won't Use In Graph 

unused_counties_df = us_counties_df.loc[us_counties_df['lat'] == 0]

# unused_counties_df

In [4]:
# Grab Indices Of All Unused Counties 

unused_cases_array = unused_counties_df.index.values

In [5]:
# Drop Indices In Counties Data Frame 

used_counties_df = us_counties_df.drop(unused_cases_array)

# used_counties_df

In [6]:
# Test If There Are Counties Out There That We Won't Use 

# testdf = used_counties_df.loc[used_counties_df['state'] == 'District of Columbia']

# testdf

In [7]:
# Count Unique Items In Data Frame 
# len(used_counties_df.state.unique())

In [8]:
# Drop Rows That Don't Have Values 

clean_counties_df = used_counties_df.dropna(how="any")

In [9]:
# Test Again To See Counties Have Been Dropped 

# test2df = clean_counties_df.loc[clean_counties_df['state'] == 'District of Columbia']

# test2df

In [10]:
# Length Of Clean Data

len(clean_counties_df.state.unique())

50

In [11]:
# Naming All States In USA 
clean_counties_df.state.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [12]:
# Showcasing Clean DataFrame 

clean_counties_df

,fips,county,state,lat,long,date,cases,state_code,deaths
0,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-22,0,AL,0
1,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-23,0,AL,0
2,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-24,0,AL,0
3,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-25,0,AL,0
4,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-26,0,AL,0
...,...,...,...,...,...,...,...,...,...
1406135,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-03-13,631,WY,5
1406136,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-03-14,631,WY,5
1406137,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-03-15,631,WY,5
1406138,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-03-16,631,WY,5
1406139,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-03-17,631,WY,5

In [13]:
# Making Clean CSV For Counties 

clean_counties_df.to_csv('darrenResources/clean_covid_counties_us.csv', encoding="utf-8", index=False)

# Cleaning Unemployment CSV

In [14]:
# Reading Unemployment CSV File

unemployment_df = pd.read_csv('darrenResources/unemploymentstates.csv')

In [15]:
# Looking At Data Frame 
# unemployment_df

In [16]:
# Dropping Unused Column 

unemployment_df = unemployment_df.drop(columns = 'Unnamed: 74')

In [17]:
# Creating New Data Frame

top7covidstateunemployed = pd.DataFrame()

covid_states = ['California','Texas','New York','Florida','Illinois','Georgia','Ohio']

# Inserting Desired Rows 

for i in range(0, len(covid_states)):
    staterow = unemployment_df.loc[unemployment_df['State'] == covid_states[i]]
    # https://pythonexamples.org/pandas-dataframe-add-append-row/
    top7covidstateunemployed = top7covidstateunemployed.append(staterow)

In [18]:
# Checking New Data Frame 
# top7covidstateunemployed

In [19]:
clean_7_covidstates_df = top7covidstateunemployed.drop(top7covidstateunemployed.loc[:, 'January 2015':'December 2019'], axis = 1)

In [20]:
# Transposing Data Frame 

rotate_7_covidstates = clean_7_covidstates_df.T

In [21]:
# Renaming Columns 

rotate_7_covidstates.columns = ['California','Texas','New York','Florida','Illinois','Georgia','Ohio']

In [22]:
# Dropping State Row 

top_7_covid_states_unemployed = rotate_7_covidstates.drop('State')

In [23]:
# Data Frame 
top_7_covid_states_unemployed

               California Texas New York Florida Illinois Georgia  Ohio
January 2020          4.2   3.6      3.8     3.3      3.5     3.3   4.5
February 2020         4.3   3.7      3.9     3.3      3.6     3.5   4.7
March 2020            4.5   4.9      3.9     4.9      3.7     3.6   4.9
April 2020           16.0  12.9     16.2    14.0     16.5    12.5  16.4
May 2020             15.6  11.6     15.7    14.2     15.4     9.4  14.9
June 2020            14.1  10.2       15    11.6     14.2     8.4  10.3
July 2020            13.2   9.3     14.7    11.5       12     7.6   9.3
August 2020          12.3   6.9     11.7     7.9     11.1       7     9
September 2020       10.6   7.9       10     7.2     10.4     6.5   7.4
October 2020          9.8   7.3      8.7     5.8      8.1     5.9   5.6
November 2020         8.7   7.2      8.7     5.4      8.1     5.6   5.6
December 2020         9.3   6.9      8.7     5.1        8     5.3   5.6
January 2021            9   6.8      8.8     4.8      7.7     5.1   5.3

In [24]:
# create csv file 
top_7_covid_states_unemployed.to_csv('darrenResources/unemployment_covid_top7states.csv', encoding="utf-8", index=False)