In [86]:
# loc march 7th
import pandas as pd
import requests 
import gmaps 
import os 
from config import key_dict

'maps' in key_dict
maps_key = key_dict['maps']

In [87]:
us_counties_df = pd.read_csv('Resources/covid_us_county.csv')
us_counties_df

,fips,county,state,lat,long,date,cases,state_code,deaths
0,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-22,0,AL,0
1,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-23,0,AL,0
2,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-24,0,AL,0
3,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-25,0,AL,0
4,1001.0,Autauga,Alabama,32.539527,-86.644082,2020-01-26,0,AL,0
...,...,...,...,...,...,...,...,...,...
1406135,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-03-13,631,WY,5
1406136,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-03-14,631,WY,5
1406137,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-03-15,631,WY,5
1406138,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-03-16,631,WY,5
1406139,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-03-17,631,WY,5

In [88]:
counties_recent_df = us_counties_df.loc[us_counties_df['date'] == '2021-03-17']
counties_recent_df

,fips,county,state,lat,long,date,cases,state_code,deaths
420,1001.0,Autauga,Alabama,32.539527,-86.644082,2021-03-17,6483,AL,96
841,1003.0,Baldwin,Alabama,30.727750,-87.722071,2021-03-17,20263,AL,295
1262,1005.0,Barbour,Alabama,31.868263,-85.387129,2021-03-17,2199,AL,54
1683,1007.0,Bibb,Alabama,32.996421,-87.125115,2021-03-17,2512,AL,58
2104,1009.0,Blount,Alabama,33.982109,-86.567906,2021-03-17,6371,AL,129
...,...,...,...,...,...,...,...,...,...
1404455,56039.0,Teton,Wyoming,43.935225,-110.589080,2021-03-17,3484,WY,9
1404876,56041.0,Uinta,Wyoming,41.287818,-110.547578,2021-03-17,2101,WY,12
1405297,90056.0,Unassigned,Wyoming,0.000000,0.000000,2021-03-17,0,WY,0
1405718,56043.0,Washakie,Wyoming,43.904516,-107.680187,2021-03-17,889,WY,26
1406139,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-03-17,631,WY,5

In [89]:
find_zeros_df = counties_recent_df.loc[counties_recent_df['cases'] == 0]
find_zeros_df

,fips,county,state,lat,long,date,cases,state_code,deaths
22312,80001.0,Out of AL,Alabama,0.000000,0.000000,2021-03-17,0,AL,0
27364,90001.0,Unassigned,Alabama,0.000000,0.000000,2021-03-17,0,AL,0
31153,2060.0,Bristol Bay,Alaska,58.745140,-156.701064,2021-03-17,0,AK,0
33679,2105.0,Hoonah-Angoon,Alaska,58.293074,-135.642442,2021-03-17,0,AK,0
37889,80002.0,Out of AK,Alaska,0.000000,0.000000,2021-03-17,0,AK,0
...,...,...,...,...,...,...,...,...,...
1361513,90054.0,Unassigned,West Virginia,0.000000,0.000000,2021-03-17,0,WV,0
1383405,80055.0,Out of WI,Wisconsin,0.000000,0.000000,2021-03-17,0,WI,0
1391404,90055.0,Unassigned,Wisconsin,0.000000,0.000000,2021-03-17,0,WI,0
1401929,80056.0,Out of WY,Wyoming,0.000000,0.000000,2021-03-17,0,WY,0
1405297,90056.0,Unassigned,Wyoming,0.000000,0.000000,2021-03-17,0,WY,0

In [90]:
zero_cases_array = find_zeros_df.index.values

In [91]:
nozeros_recent_counties_df = counties_recent_df.drop(zero_cases_array)
nozeros_recent_counties_df

,fips,county,state,lat,long,date,cases,state_code,deaths
420,1001.0,Autauga,Alabama,32.539527,-86.644082,2021-03-17,6483,AL,96
841,1003.0,Baldwin,Alabama,30.727750,-87.722071,2021-03-17,20263,AL,295
1262,1005.0,Barbour,Alabama,31.868263,-85.387129,2021-03-17,2199,AL,54
1683,1007.0,Bibb,Alabama,32.996421,-87.125115,2021-03-17,2512,AL,58
2104,1009.0,Blount,Alabama,33.982109,-86.567906,2021-03-17,6371,AL,129
...,...,...,...,...,...,...,...,...,...
1404034,56037.0,Sweetwater,Wyoming,41.659439,-108.882788,2021-03-17,3909,WY,36
1404455,56039.0,Teton,Wyoming,43.935225,-110.589080,2021-03-17,3484,WY,9
1404876,56041.0,Uinta,Wyoming,41.287818,-110.547578,2021-03-17,2101,WY,12
1405718,56043.0,Washakie,Wyoming,43.904516,-107.680187,2021-03-17,889,WY,26
1406139,56045.0,Weston,Wyoming,43.839612,-104.567488,2021-03-17,631,WY,5

In [92]:
testdf = nozeros_recent_counties_df.loc[nozeros_recent_counties_df['state'] == 'District of Columbia']
testdf

,fips,county,state,lat,long,date,cases,state_code,deaths
142297,11001.0,District of Columbia,District of Columbia,38.904178,-77.01656,2021-03-17,42811,NaN,1044

In [93]:
nozeros_recent_counties_df.state.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Diamond Princess',
       'District of Columbia', 'Florida', 'Georgia', 'Grand Princess',
       'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota',
       'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virgin Islands', 'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming'], dtype=object)

In [94]:
len(nozeros_recent_counties_df.state.unique())

57

In [95]:
clean_recent_counties_df = nozeros_recent_counties_df.dropna(how="any")
#clean_recent_counties_df = nozeros_recent_counties_df.fillna("", inplace=False)

In [96]:
len(clean_recent_counties_df.state.unique())

50

In [74]:
gmaps.configure(maps_key)

In [75]:
locations = clean_recent_counties_df[['lat', 'long']]
counties_cases = clean_recent_counties_df['cases'].astype(float)

In [110]:
counties_cases.max()

1211739.0

In [119]:
heatfig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=counties_cases, 
                                 dissipating=False, max_intensity=counties_cases.max(),
                                 point_radius = 2)

heatfig.add_layer(heat_layer)

heatfig

Figure(layout=FigureLayout(height='420px'))

In [97]:
clean_recent_counties_df.columns

Index(['fips', 'county', 'state', 'lat', 'long', 'date', 'cases', 'state_code',
       'deaths'],
      dtype='object')

In [109]:
only_cali_df = clean_recent_counties_df.loc[clean_recent_counties_df['state'] == 'California']
only_cali_df['cases'].sum()

3631320

In [123]:
san_diego_df = us_counties_df.loc[us_counties_df['county'] == 'San Diego']
san_diego_df

,fips,county,state,lat,long,date,cases,state_code,deaths
97672,6073.0,San Diego,California,33.034846,-116.736533,2020-01-22,0,CA,0
97673,6073.0,San Diego,California,33.034846,-116.736533,2020-01-23,0,CA,0
97674,6073.0,San Diego,California,33.034846,-116.736533,2020-01-24,0,CA,0
97675,6073.0,San Diego,California,33.034846,-116.736533,2020-01-25,0,CA,0
97676,6073.0,San Diego,California,33.034846,-116.736533,2020-01-26,0,CA,0
...,...,...,...,...,...,...,...,...,...
98088,6073.0,San Diego,California,33.034846,-116.736533,2021-03-13,265273,CA,3444
98089,6073.0,San Diego,California,33.034846,-116.736533,2021-03-14,265471,CA,3452
98090,6073.0,San Diego,California,33.034846,-116.736533,2021-03-15,265649,CA,3452
98091,6073.0,San Diego,California,33.034846,-116.736533,2021-03-16,265906,CA,3462
98092,6073.0,San Diego,California,33.034846,-116.736533,2021-03-17,266317,CA,3470

In [125]:
#count_state_df = clean_recent_counties_df.groupby('state')['cases'].count().sort_values(ascending=False)
date_san_diego_df =

In [117]:
only_texas_df =  clean_recent_counties_df.loc[clean_recent_counties_df['state'] == 'Texas']
only_texas_df

,fips,county,state,lat,long,date,cases,state_code,deaths
1136278,48001.0,Anderson,Texas,31.815347,-95.653548,2021-03-17,6089,TX,112
1136699,48003.0,Andrews,Texas,32.304686,-102.637655,2021-03-17,1710,TX,47
1137120,48005.0,Angelina,Texas,31.254573,-94.609015,2021-03-17,8051,TX,267
1137541,48007.0,Aransas,Texas,28.105562,-96.999505,2021-03-17,1166,TX,35
1137962,48009.0,Archer,Texas,33.615700,-98.687546,2021-03-17,786,TX,12
...,...,...,...,...,...,...,...,...,...
1241949,48499.0,Wood,Texas,32.787224,-95.382364,2021-03-17,3300,TX,119
1242370,48501.0,Yoakum,Texas,33.173202,-102.827643,2021-03-17,863,TX,27
1242791,48503.0,Young,Texas,33.176597,-98.687909,2021-03-17,2128,TX,43
1243212,48505.0,Zapata,Texas,27.001564,-99.169872,2021-03-17,1754,TX,29
1243633,48507.0,Zavala,Texas,28.866172,-99.760508,2021-03-17,1833,TX,40

In [116]:
only_cali_df.count()

fips          58
county        58
state         58
lat           58
long          58
date          58
cases         58
state_code    58
deaths        58
dtype: int64

In [104]:
group_state_df = clean_recent_counties_df.groupby('state')['cases'].sum()
group_state_df

state
Alabama            509476
Alaska              60864
Arizona            834323
Arkansas           327781
California        3631320
Colorado           445338
Connecticut        294328
Delaware            91123
Florida           1989024
Georgia           1038550
Hawaii              28709
Idaho              176461
Illinois          1213668
Indiana            674430
Iowa               344267
Kansas             301063
Kentucky           418372
Louisiana          439002
Maine               47591
Maryland           395633
Massachusetts      604272
Michigan           654579
Minnesota          499962
Mississippi        301602
Missouri           530808
Montana            102484
Nebraska           205214
Nevada             300118
New Hampshire       79367
New Jersey         848727
New Mexico         188907
New York          1761775
North Carolina     889310
North Dakota       101284
Ohio               993681
Oklahoma           432793
Oregon             160288
Pennsylvania       976442
Rhode Island       132184
South Carolina     536100
South Dakota       114966
Tennessee          795963
Texas             2742274
Utah               288099
Vermont             17106
Virginia           598468
Washington         352012
West Virginia      136334
Wisconsin          627060
Wyoming             55449
Name: cases, dtype: int64

In [114]:
count_state_df = clean_recent_counties_df.groupby('state')['cases'].count().sort_values(ascending=False)
count_state_df

state
Texas             254
Georgia           161
Virginia          133
Kentucky          121
Missouri          115
Kansas            105
Illinois          103
North Carolina    101
Iowa              100
Tennessee          97
Nebraska           94
Indiana            92
Ohio               88
Minnesota          88
Michigan           85
Mississippi        82
Oklahoma           78
Arkansas           76
Wisconsin          72
Florida            68
Alabama            67
Pennsylvania       67
South Dakota       66
Louisiana          65
Colorado           65
New York           63
California         58
Montana            56
West Virginia      55
North Dakota       53
South Carolina     46
Idaho              44
Washington         40
Oregon             36
New Mexico         34
Alaska             28
Maryland           24
Wyoming            23
New Jersey         22
Nevada             17
Maine              17
Arizona            16
Vermont            15
Massachusetts      13
New Hampshire      11
Connecticut         9
Utah                8
Rhode Island        6
Hawaii              5
Delaware            4
Name: cases, dtype: int64

In [137]:
group_state_series = clean_recent_counties_df.groupby('state')['cases'].sum().sort_values(ascending=False)
group_state_series

state
California        3631320
Texas             2742274
Florida           1989024
New York          1761775
Illinois          1213668
Georgia           1038550
Ohio               993681
Pennsylvania       976442
North Carolina     889310
New Jersey         848727
Arizona            834323
Tennessee          795963
Indiana            674430
Michigan           654579
Wisconsin          627060
Massachusetts      604272
Virginia           598468
South Carolina     536100
Missouri           530808
Alabama            509476
Minnesota          499962
Colorado           445338
Louisiana          439002
Oklahoma           432793
Kentucky           418372
Maryland           395633
Washington         352012
Iowa               344267
Arkansas           327781
Mississippi        301602
Kansas             301063
Nevada             300118
Connecticut        294328
Utah               288099
Nebraska           205214
New Mexico         188907
Idaho              176461
Oregon             160288
West Virginia      136334
Rhode Island       132184
South Dakota       114966
Montana            102484
North Dakota       101284
Delaware            91123
New Hampshire       79367
Alaska              60864
Wyoming             55449
Maine               47591
Hawaii              28709
Vermont             17106
Name: cases, dtype: int64

In [140]:
group_states_df = pd.DataFrame(group_state_series)
group_states_df

                  cases
state
California      3631320
Texas           2742274
Florida         1989024
New York        1761775
Illinois        1213668
Georgia         1038550
Ohio             993681
Pennsylvania     976442
North Carolina   889310
New Jersey       848727
Arizona          834323
Tennessee        795963
Indiana          674430
Michigan         654579
Wisconsin        627060
Massachusetts    604272
Virginia         598468
South Carolina   536100
Missouri         530808
Alabama          509476
Minnesota        499962
Colorado         445338
Louisiana        439002
Oklahoma         432793
Kentucky         418372
Maryland         395633
Washington       352012
Iowa             344267
Arkansas         327781
Mississippi      301602
Kansas           301063
Nevada           300118
Connecticut      294328
Utah             288099
Nebraska         205214
New Mexico       188907
Idaho            176461
Oregon           160288
West Virginia    136334
Rhode Island     132184
South Dakota     114966
Montana          102484
North Dakota     101284
Delaware          91123
New Hampshire     79367
Alaska            60864
Wyoming           55449
Maine             47591
Hawaii            28709
Vermont           17106

In [146]:
group_states_df['cases'] = pd.to_numeric(group_states_df['cases'])
group_states_df['cases'].sum()

29288951

In [131]:
unemployment_df = pd.read_csv('Resources/unemploymentstates.csv')

In [134]:
unemployment_df

,State,January 2015,February 2015,March 2015,April 2015,May 2015,June 2015,July 2015,August 2015,September 2015,...,May 2020,June 2020,July 2020,August 2020,September 2020,October 2020,November 2020,December 2020,January 2021,Unnamed: 74
0,Alabama,6.1,6.1,6.1,6.1,6.1,6.2,6.2,6.2,6.1,...,7.9,7.7,7.4,7.1,6.7,4.7,4.7,4.7,4.3,NaN
1,Alaska,6.2,6.3,6.3,6.3,6.3,6.3,6.2,6.2,6.2,...,11.6,11.3,11.0,7.2,7.0,6.5,6.5,6.5,6.6,NaN
2,Arizona,6.4,6.3,6.2,6.2,6.1,6.1,6.1,6.0,6.0,...,10.6,10.7,10.4,7.0,6.9,6.8,6.8,6.8,6.7,NaN
3,Arkansas,5.5,5.4,5.4,5.3,5.2,5.1,4.9,4.8,4.6,...,8.5,7.8,7.1,6.5,5.9,5.6,5.3,4.9,4.6,NaN
4,California,6.8,6.7,6.6,6.5,6.4,6.3,6.2,6.0,5.9,...,15.6,14.1,13.2,12.3,10.6,9.8,8.7,9.3,9.0,NaN
5,Colorado,4.1,4.1,4.1,4.0,3.9,3.8,3.7,3.6,3.5,...,11.6,11.3,7.4,7.1,7.0,6.9,6.9,6.9,6.6,NaN
6,Connecticut,6.0,5.9,5.8,5.8,5.7,5.6,5.6,5.5,5.4,...,11.4,11.4,11.3,8.4,8.3,8.2,8.2,8.2,8.1,NaN
7,Delaware,5.0,4.9,4.9,4.9,4.9,4.8,4.8,4.7,4.7,...,13.3,12.9,8.3,7.9,7.6,5.7,5.8,5.9,6.0,NaN
8,District of Columbia,7.4,7.3,7.2,7.2,7.0,6.9,6.8,6.8,6.7,...,8.9,8.9,8.9,8.8,8.7,8.8,8.8,8.8,8.4,NaN
9,Florida,5.9,5.8,5.8,5.7,5.7,5.6,5.5,5.4,5.3,...,14.2,11.6,11.5,7.9,7.2,5.8,5.4,5.1,4.8,NaN
10,Georgia,6.5,6.4,6.3,6.3,6.2,6.1,6.0,5.9,5.9,...,9.4,8.4,7.6,7.0,6.5,5.9,5.6,5.3,5.1,NaN
11,Hawaii,3.8,3.8,3.7,3.6,3.5,3.4,3.3,3.3,3.2,...,21.9,14.1,14.1,14.1,14.8,14.0,10.3,10.3,10.2,NaN
12,Idaho,3.8,3.9,3.9,3.9,3.9,3.9,3.9,3.9,3.9,...,8.3,7.0,5.9,4.9,6.0,4.8,4.3,3.8,3.4,NaN
13,Illinois,6.1,6.1,6.0,6.0,6.0,6.0,5.9,5.9,5.9,...,15.4,14.2,12.0,11.1,10.4,8.1,8.1,8.0,7.7,NaN
14,Indiana,5.4,5.2,5.1,4.9,4.8,4.7,4.6,4.6,4.5,...,12.0,10.1,8.6,7.3,6.3,5.6,5.0,4.6,4.2,NaN
15,Iowa,3.9,3.8,3.8,3.8,3.7,3.7,3.6,3.6,3.6,...,8.3,7.1,6.1,5.3,4.7,4.2,3.9,3.7,3.5,NaN
16,Kansas,4.3,4.4,4.4,4.4,4.3,4.2,4.1,4.0,4.0,...,9.0,7.0,6.6,6.2,6.1,4.7,4.7,4.7,3.5,NaN
17,Kentucky,5.3,5.3,5.3,5.3,5.2,5.2,5.2,5.2,5.2,...,10.9,5.7,5.6,5.5,5.5,5.5,5.6,5.6,5.3,NaN
18,Louisiana,6.8,6.7,6.6,6.5,6.4,6.3,6.1,6.1,6.0,...,13.1,9.4,9.1,8.2,8.0,7.9,7.9,7.9,7.6,NaN
19,Maine,4.9,4.8,4.7,4.6,4.5,4.4,4.3,4.2,4.1,...,8.3,5.3,8.8,5.2,4.9,4.8,4.9,5.0,5.2,NaN
20,Maryland,5.4,5.3,5.3,5.2,5.1,5.0,4.9,4.9,4.8,...,9.0,8.6,8.7,8.6,7.0,6.8,6.8,6.8,6.4,NaN
21,Massachusetts,5.2,5.1,5.0,5.0,4.9,4.8,4.7,4.7,4.6,...,15.3,14.8,9.8,9.3,8.9,8.5,8.4,8.4,7.8,NaN
22,Michigan,6.0,5.9,5.8,5.7,5.6,5.5,5.4,5.2,5.1,...,20.8,14.1,9.0,8.5,8.2,8.1,8.2,8.2,5.7,NaN
23,Minnesota,3.8,3.8,3.8,3.8,3.8,3.8,3.8,3.8,3.8,...,11.3,8.9,7.6,6.6,5.8,5.3,5.0,4.7,4.5,NaN
24,Mississippi,6.8,6.7,6.7,6.6,6.5,6.4,6.3,6.3,6.3,...,11.0,9.6,8.5,7.8,7.2,6.9,6.7,6.6,6.4,NaN
25,Missouri,5.6,5.6,5.6,5.5,5.3,5.2,5.0,4.9,4.8,...,9.6,8.1,6.8,6.0,5.4,5.0,4.7,4.4,4.3,NaN
26,Montana,4.3,4.3,4.3,4.2,4.3,4.3,4.3,4.3,4.3,...,9.1,7.6,6.6,5.8,5.2,4.7,4.5,4.2,4.0,NaN
27,Nebraska,2.9,2.9,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,5.4,6.6,4.4,4.0,3.8,3.6,3.4,3.4,3.2,NaN
28,Nevada,7.4,7.3,7.2,7.1,7.0,6.9,6.8,6.7,6.6,...,24.5,15.4,16.6,14.5,13.0,12.0,8.7,8.2,8.1,NaN
29,New Hampshire,3.8,3.8,3.7,3.6,3.5,3.4,3.3,3.3,3.2,...,13.4,10.3,8.1,6.6,5.5,4.7,4.2,3.8,3.6,NaN
30,New Jersey,6.3,6.3,6.2,6.1,6.0,5.8,5.6,5.5,5.3,...,16.5,16.3,13.1,11.0,7.8,7.7,10.2,7.7,7.9,NaN
31,New Mexico,6.5,6.6,6.7,6.7,6.7,6.7,6.6,6.6,6.6,...,10.0,9.8,12.5,9.3,8.6,8.5,8.5,8.6,8.7,NaN
32,New York,5.7,5.6,5.6,5.5,5.4,5.3,5.2,5.0,4.9,...,15.7,15.0,14.7,11.7,10.0,8.7,8.7,8.7,8.8,NaN
33,North Carolina,5.7,5.7,5.8,5.8,5.8,5.8,5.7,5.7,5.6,...,13.5,8.8,8.8,6.8,7.3,6.8,6.4,6.1,5.9,NaN
34,North Dakota,2.6,2.6,2.7,2.8,2.8,2.8,2.8,2.8,2.8,...,8.7,6.2,6.2,6.1,4.7,4.7,4.7,4.7,4.5,NaN
35,Ohio,5.2,5.2,5.2,5.1,5.0,4.9,4.8,4.8,4.7,...,14.9,10.3,9.3,9.0,7.4,5.6,5.6,5.6,5.3,NaN
36,Oklahoma,4.0,4.1,4.2,4.3,4.4,4.4,4.4,4.3,4.3,...,9.5,8.2,7.2,6.3,5.7,5.2,4.8,4.5,4.3,NaN
37,Oregon,5.8,5.8,5.7,5.7,5.6,5.5,5.5,5.4,5.3,...,11.7,10.3,9.6,8.4,7.5,7.0,6.6,6.3,6.2,NaN
38,Pennsylvania,5.5,5.5,5.5,5.5,5.5,5.4,5.4,5.3,5.3,...,13.5,13.3,13.0,10.2,7.1,7.0,7.1,7.1,7.3,NaN
39,Rhode Island,6.6,6.5,6.4,6.3,6.2,6.0,5.9,5.8,5.7,...,12.9,10.9,14.0,12.6,10.9,7.3,7.9,7.9,7.2,NaN
40,South Carolina,6.4,6.4,6.3,6.2,6.1,6.0,5.8,5.7,5.6,...,11.5,7.7,7.6,5.4,5.4,5.4,5.6,5.6,5.3,NaN
41,South Dakota,3.2,3.2,3.2,3.1,3.1,3.1,3.1,3.0,3.0,...,7.0,6.1,5.4,4.7,4.0,3.7,3.6,3.3,3.1,NaN
42,Tennessee,6.1,6.1,6.0,5.9,5.8,5.7,5.5,5.4,5.3,...,9.6,9.3,8.9,8.1,7.9,7.8,5.6,5.6,5.1,NaN
43,Texas,4.6,4.5,4.5,4.5,4.4,4.4,4.4,4.5,4.5,...,11.6,10.2,9.3,6.9,7.9,7.3,7.2,6.9,6.8,NaN
44,Utah,3.6,3.5,3.5,3.5,3.5,3.5,3.5,3.5,3.5,...,7.6,6.3,5.4,4.8,4.2,3.8,3.5,3.3,3.1,NaN
45,Vermont,3.8,3.7,3.7,3.6,3.6,3.5,3.5,3.5,3.4,...,9.3,7.7,6.4,5.4,4.6,4.0,3.7,3.5,3.2,NaN
46,Virginia,4.8,4.7,4.7,4.6,4.5,4.4,4.3,4.2,4.1,...,8.5,8.8,7.9,7.0,6.6,6.1,5.8,5.6,5.3,NaN
47,Washington,5.6,5.5,5.5,5.4,5.4,5.4,5.4,5.4,5.4,...,12.5,10.8,10.8,9.1,8.0,7.0,6.7,6.3,6.0,NaN
48,West Virginia,6.4,6.5,6.7,6.8,6.8,6.8,6.7,6.6,6.5,...,11.9,10.5,9.4,8.5,7.9,7.4,7.0,6.7,6.5,NaN
49,Wisconsin,4.7,4.7,4.6,4.6,4.5,4.4,4.4,4.3,4.3,...,10.4,8.6,7.2,6.1,5.2,4.8,4.4,4.0,3.8,NaN
50,Wyoming,3.9,3.9,4.0,4.1,4.2,4.2,4.2,4.2,4.3,...,8.5,7.4,6.8,6.2,5.7,5.4,5.3,5.2,5.1,NaN
51,Puerto Rico,12.2,12.0,12.1,12.1,12.1,12.1,12.1,12.1,12.0,...,8.5,8.4,8.3,8.3,8.6,9.0,9.2,9.2,9.3,NaN