test

In [5]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

data=pd.read_csv('Resources/Provisional_COVID-19_Death_Counts_by_Sex__Age__and_Week.csv')
data.head

<bound method NDFrame.head of      Data as of          State  MMWR Week   End Week      Sex  \
0     3/17/2021  United States          1   1/4/2020  All Sex
1     3/17/2021  United States          1   1/4/2020  All Sex
2     3/17/2021  United States          1   1/4/2020  All Sex
3     3/17/2021  United States          1   1/4/2020  All Sex
4     3/17/2021  United States          1   1/4/2020  All Sex
...         ...            ...        ...        ...      ...
2263  3/17/2021  United States         10  3/13/2021   Female
2264  3/17/2021  United States         10  3/13/2021   Female
2265  3/17/2021  United States         10  3/13/2021   Female
2266  3/17/2021  United States         10  3/13/2021   Female
2267  3/17/2021  United States         10  3/13/2021   Female

              Age Group  Total Deaths  COVID-19 Deaths
0              All Ages         60158                4
1          Under 1 year           406                0
2             1-4 Years            79                0
3            5-14 Years            99                0
4           15-24 Years           603                0
...                 ...           ...              ...
2263        45-54 Years           292               25
2264        55-64 Years           766               83
2265        65-74 Years          1400              175
2266        75-84 Years          2057              169
2267  85 Years and Over          3338              226

[2268 rows x 8 columns]>

In [7]:
data1=pd.read_csv('Resources/Weekly_counts_of_deaths_by_jurisdiction_and_age_group (1).csv')
data1.head()

,Jurisdiction,Week Ending Date,State Abbreviation,Year,Week,Age Group,Number of Deaths,Time Period,Type,Suppress,Note
0,Alabama,1/10/2015,AL,2015,1,25-44 years,67.0,2015-2019,Predicted (weighted),NaN,NaN
1,Alabama,1/17/2015,AL,2015,2,25-44 years,49.0,2015-2019,Predicted (weighted),NaN,NaN
2,Alabama,1/24/2015,AL,2015,3,25-44 years,55.0,2015-2019,Predicted (weighted),NaN,NaN
3,Alabama,1/31/2015,AL,2015,4,25-44 years,59.0,2015-2019,Predicted (weighted),NaN,NaN
4,Alabama,2/7/2015,AL,2015,5,25-44 years,47.0,2015-2019,Predicted (weighted),NaN,NaN